
:root{

  --color-primary: #6c63ff;
  --color-suuuess: #00bf8e;
  --color-warning: #f7c94b;
  --color-danger: #f75842;
  --color-danger-variant: rgba(247, 88, 66, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.7);
  --color-black: #000;
  --color-bg: #1f2641;
  --color-bg1:#2e3267;
  --color-bg2:#424890;
  --color-bg3:#ABEBC6;
  --color-bg4:#D1F2EB;
  --color-bg5: #ba0c2f;
  --color-bg6:#F2F2F2;
  --color-RU:linear-gradient(to right, #012169, #ffffff, #ba0c2f);
  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;
  
  --transition: all 400ms ease;
 }
.contact{
  background: var(--color-RU);
}
.contact_container {
  background: var(--color-RU);
  padding: 4rem;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 4rem;
  height: 30rem;
  margin: 7rem auto;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

/*---------------------------------ASIDE ----------------------------------*/

.contact_aside {
  background: var(--color-RU);
  padding: 4rem;
  border-radius: 1rem;
  position: relative;
  bottom: 10rem;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}

.aside_image {
  width: 12rem;
  margin-bottom: 2rem;
}

.contact_aside h2 {
  text-align: left;
  margin-bottom: 1rem;
}
.contact_aside p {
  
  font-size: 0.9rem;
  margin-bottom: 2rem;
}
.contact_details li {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.contact_socials {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.contact_socials a {
  background: (transparent);
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 0.9rem;
  transition: var(--transition);
}

.contact_socials a:hover {
  background: var(--color-bg5);
}
/*---------------------------------- FORM ------------------------------*/

.contact_form{
    
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-right: 4rem;
}

.form_name{
  border:2px  var(--color-bg);
  gap: 1.2rem;
}

.contact_form input[type="text"]{
    width: 50%;
}



input,
textarea{
  width: 100%;
  padding: 1rem;
  background: var(--color-ru);
  color: var(--color-RU);
  
}

.contact_form .btn{
  width: max-content;
  margin-top: 1rem;
  cursor: pointer;
}

/* ============================ MEDIA QUERIES (TABLETS) =====================================*/

@media screen and (max-width: 1024px){

  .contact{

    padding-bottom:0; 
  }
  .contact_container{
    gap: 1.5rem;
    margin-top: 3rem;
    height: auto;
    padding: 1.5rem;
  }

  .contact_aside{
    width: auto;
    padding: 1.5rem;
    bottom: 0;
  }
  .contact_form{
    align-self: center;
    margin-right: 1.5rem;
  }

  
form{
  background: var(--color-danger-variant);
}
}


/* ============================ MEDIA QUERIES (PHONE) =====================================*/

@media screen and (max-width: 750px) {
  .container {
      flex-direction: column;
      align-items: flex-end;
  }

  .contact_aside {
      margin-right: 0;
      margin-bottom: 20px;
  }
  .contact_aside p {
    display: none; /* Oculta el párrafo en pantallas pequeñas */
}

  .contact_form {
      flex: 1 1 100%;
  }

  
form{
  background: var(--color-danger-variant);
}

  .form_name {
      flex-direction: column;
  }

  .form_name input {
      margin-right: 0;
  }
}
/*
@media screen and (max-width: 720px) {
  .container {
      flex-direction: column;
  }

  .contact_aside,
  .contact_form {
      max-width: 100%;
  }

  .contact_aside p {
    display: none; 
}

form{
  background: var(--color-danger-variant);
}
  .form_name input {
      width: 100%;
      margin-right: 0;
  }
}
*/

@media screen and (max-width: 720px) {
  .container {
      flex-direction: column;
  }

  .contact_aside,
  .contact_details,
  .contact_socials {
      max-width: 100%;
  }

  
  .contact_aside p {
    display: none; 
}

  .form_name input {
      width: 100%;
      margin-right: 0;
  }
}

@media  screen and (max-width: 600px){
  .container {
    flex-direction: column; /* Cambia a una disposición de columna para pantallas más pequeñas */
  }

  .contact_aside,
  .contact_form {
    width: 100%; /* Ocupa todo el ancho en pantallas más pequeñas */
    margin-bottom: 20px; /* Espaciado inferior para separar los elementos */
  }

  
  .contact_aside {
    text-align: center; /* Alinea al centro para pantallas más pequeñas */
  }

  .contact_aside p {
    display: none; /* Oculta el párrafo en pantallas pequeñas */
}

  .contact_form {
    text-align: center; /* Alinea al centro para pantallas más pequeñas */
  }

  
form{
  background: var(--color-danger-variant);
}
}
  