

:root {
	--color-primary: #6c63ff;
	--color-suuuess: #00bf8e;
	--color-warning: #f7c94b;
	--color-danger: #f75842;
	--color-danger-variant: rgba(247, 88, 66, 0.4);
	--color-white: #fff;
	--color-light: rgba(255, 255, 255, 0.7);
	--color-black: #000;
	--color-bg: #1f2641;
	--color-bg1: #2e3267;
	--color-bg2: #424890;
	--color-bg3: #abebc6;
	--color-bg4: #d1f2eb;
	--color-bg5: #ba0c2f;
	--color-bg6: #f2f2f2;
	--color-RU: linear-gradient(to right, #012169, #ffffff, #ba0c2f);
	--color-UR: linear-gradient(to right, #001033, #ffffff, #aa0b2e);
	--container-width-lg: 80%;
	--container-width-md: 90%;
	--container-width-sm: 94%;
  
	--transition: all 400ms ease;
}
   body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		margin: 0;
	}
	
	.container-form {
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px; /* Añade un poco de espacio alrededor del formulario */
		
	}
	
	form#language-proficiency-test {
		width: 50%; /* Ajusta esto según tus necesidades */
		max-width: 800px; /* Limita el ancho del formulario para pantallas grandes */
	}
	.footer {
		display: grid;
		grid-template-columns: repeat(3, 1fr); /* Crea tres columnas de igual tamaño */
		justify-items: center; /* Centra el contenido horizontalmente */
		align-items: start; /* Alinea el contenido al inicio verticalmente */
		gap: 20px; /* Añade un espacio entre las columnas */
		height: auto; /* Permite que el pie de página se expanda para acomodar su contenido */
		padding: 20px; /* Añade un poco de espacio alrededor del pie de página */
	}
	
	

	.footer h4 {
		font-size: 1.5em; /* Ajusta esto según tus necesidades */
		text-align: center; /* Centra el texto */
		color: #333; /* Ajusta esto según tus necesidades */
	}
	


h1,
h2,
h3,

h5 {
  line-height: 1.2; 
}
h1{
    font-size: 2.4rem;
	color: var(--color-white);
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem;
	
}
/*
h1 {
	text-align: center;
	color: #ffffff;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	background-color: #6e65d3;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h3 {
	text-align: center;
	color: #eeeeee;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	background-color: #999999;
	padding: 8px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

form {
	max-width: 600px;
	margin: 0 auto;
	padding-top: 15px;
	background:var(--color-danger);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), 0px 0px 20px rgba(0, 0, 15, 0.5);
}
*/
fieldset {
	margin-bottom: 20px;
	border: none;
}

legend {
	font-weight: bold;
	margin-bottom: 10px;
}

input[type="radio"] {
	margin-right: 5px;
}

button[type="submit"] {
	display: block;
	margin: 0 auto;
	padding: 10px 20px;
	background-color:var(--color-primary);
	color: #fff;
	border: none;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	border-radius: 20px;
	/* adjust the value to your preference */
}

button[type="submit"]:hover {
	background-color: var(--color-danger);
}

.result {
	margin-top: 20px;
	padding: 10px;
	background:var(--color-bg2);
	border-radius: 5px;
	text-align: center;
	color: #ffffff;
}


/* ======================= MEDIA QUERIES (PHONE) ==========================================*/
/* Estilos generales */

body {
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  .container {
	width: 80%;
	margin: 0 auto;
  }
  
  /* Estilos para pantallas mayores a 720px */
  
  @media screen and (min-width: 721px) {
	/* Agrega estilos específicos para pantallas más grandes que 720px aquí */
	
	/* Por ejemplo: */
	
	body {
	  background-color: #f4f4f4;
	}
	
	/* Puedes añadir más estilos según sea necesario */
  }
  
  /* Estilos para pantallas de 720px o menos */
  
  @media screen and (max-width: 720px) {
	/* Agrega estilos específicos para pantallas de 720px o menos aquí */
	
	/* Por ejemplo: */
	
	body {
	  background-color: #ffffff;
	}
	
	/* Puedes añadir más estilos según sea necesario */
	
	/* Modifica el diseño del formulario para que sea más amigable en dispositivos móviles */
	
	#language-proficiency-test fieldset {
	  margin-bottom: 20px;
	}
	
	#language-proficiency-test button {
	  width: 100%;
	}
	
	#result {
	  font-size: 16px;
	}
	.footer_container {
		grid-template-columns: 1fr 1fr;
	  }
	}
	/*----
	
	.footer_1, .footer_2, .footer_3, .footer_4 {
	  width: 100%;
	  text-align: center;
	}
	
	.footer_socials {
	  display: flex;
	  justify-content: center;
	}
	
	/* Puedes ajustar otros estilos según sea necesario para dispositivos móviles */
  
  
  /* Agrega más media queries y estilos según sea necesario */
