

:root{

	--color-primary: #6c63ff;
	--color-suuuess: #00bf8e;
	--color-warning: #f7c94b;
	--color-danger: #f75842;
	--color-danger-variant: rgba(247, 88, 66, 0.4);
	--color-white: #fff;
	--color-light: rgba(255, 255, 255, 0.7);
	--color-black: #000;
	--color-bg: #1f2641;
	--color-bg1:#2e3267;
	--color-bg2:#424890;
	--color-bg3:#ABEBC6;
	--color-bg4:#D1F2EB;
   
	--container-width-lg: 80%;
	--container-width-md: 90%;
	--container-width-sm: 94%;
   
	--transition: all 400ms ease;
   }

   
body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
 
    background-color: var(--color-bg1);
}

img {
	max-width: 100%; /* Establece el ancho máximo al 100% del contenedor */
	height: auto; /* Mantiene la proporción de aspecto original de la imagen */
	display: block; /* Elimina espacios en blanco alrededor de la imagen */
	margin: 0 auto; /* Centra la imagen horizontalmente */
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2; 
}
h1{
    font-size: 2.4rem;
	color: var(--color-white);
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem;
	
}

  

/*
h1 {
	text-align: center;
	color: #ffffff;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	background-color: #6e65d3;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h3 {
	text-align: center;
	color: #eeeeee;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	background-color: #999999;
	padding: 8px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
*/
form {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	background:var(--color-danger);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), 0px 0px 20px rgba(0, 0, 15, 0.5);
}

fieldset {
	margin-bottom: 20px;
	border: none;
}

legend {
	font-weight: bold;
	margin-bottom: 10px;
}

input[type="radio"] {
	margin-right: 5px;
}

button[type="submit"] {
	display: block;
	margin: 0 auto;
	padding: 10px 20px;
	background-color:var(--color-primary);
	color: #fff;
	border: none;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	border-radius: 20px;
	/* adjust the value to your preference */
}

button[type="submit"]:hover {
	background-color: var(--color-danger);
}

.result {
	margin-top: 20px;
	padding: 10px;
	background:var(--color-bg2);
	border-radius: 5px;
	text-align: center;
	color: #ffffff;
}
